USE [GESTION_OMNIBUS]
GO
/****** Object:  Table [dbo].[CHOFER]    Script Date: 10/3/2020 23:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHOFER](
	[LEGAJO] [int] IDENTITY(1000,1) NOT NULL,
	[NOMBRE] [varchar](150) NOT NULL,
	[APELLIDO] [varchar](150) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
 CONSTRAINT [PK_LEGAJO] PRIMARY KEY CLUSTERED 
(
	[LEGAJO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 10/3/2020 23:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[ID_COMPRA] [int] IDENTITY(1,1) NOT NULL,
	[ID_ITINERARIO] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[CANTIDAD_PASAJES] [int] NOT NULL,
 CONSTRAINT [PK_ID_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIA]    Script Date: 10/3/2020 23:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
 CONSTRAINT [PK_ID_DIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADISTICA_TERMINALES]    Script Date: 10/3/2020 23:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADISTICA_TERMINALES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_TERMINAL_PARTIDA] [int] NOT NULL,
	[ID_TERMINAL_ARRIBO] [int] NOT NULL,
 CONSTRAINT [PK_ID_ESTADISTICA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITINERARIO]    Script Date: 10/3/2020 23:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITINERARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CHOFER] [int] NOT NULL,
	[ID_OMNIBUS] [int] NOT NULL,
	[ID_RECORRIDO] [int] NOT NULL,
	[ID_DIA] [int] NOT NULL,
 CONSTRAINT [PK_ID_ITINERARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OMNIBUS]    Script Date: 10/3/2020 23:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OMNIBUS](
	[NUMERO_UNIDAD] [int] IDENTITY(100,1) NOT NULL,
	[MARCA] [varchar](100) NOT NULL,
	[MODELO] [varchar](100) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
	[CAPACIDAD] [int] NOT NULL,
 CONSTRAINT [PK_NUMERO_UNIDAD] PRIMARY KEY CLUSTERED 
(
	[NUMERO_UNIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECORRIDO]    Script Date: 10/3/2020 23:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECORRIDO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TERMINALES_RECORRIDO] [text] NOT NULL,
 CONSTRAINT [PK_ID_RECORRIDO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERMINAL]    Script Date: 10/3/2020 23:28:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERMINAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TERMINAL] [varchar](100) NOT NULL,
	[NOMBRE_CIUDAD] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ID_TERMINAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/3/2020 23:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[APELLIDO] [varchar](100) NOT NULL,
	[DNI] [varchar](8) NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
 CONSTRAINT [PK_ID_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ID_ITINERARIO] FOREIGN KEY([ID_ITINERARIO])
REFERENCES [dbo].[ITINERARIO] ([ID])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_ID_ITINERARIO]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ID_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_ID_USUARIO]
GO
ALTER TABLE [dbo].[ESTADISTICA_TERMINALES]  WITH CHECK ADD  CONSTRAINT [FK_ID_TERMINAL_ARRIBO] FOREIGN KEY([ID_TERMINAL_ARRIBO])
REFERENCES [dbo].[TERMINAL] ([ID])
GO
ALTER TABLE [dbo].[ESTADISTICA_TERMINALES] CHECK CONSTRAINT [FK_ID_TERMINAL_ARRIBO]
GO
ALTER TABLE [dbo].[ESTADISTICA_TERMINALES]  WITH CHECK ADD  CONSTRAINT [FK_ID_TERMINAL_PARTIDA] FOREIGN KEY([ID_TERMINAL_PARTIDA])
REFERENCES [dbo].[TERMINAL] ([ID])
GO
ALTER TABLE [dbo].[ESTADISTICA_TERMINALES] CHECK CONSTRAINT [FK_ID_TERMINAL_PARTIDA]
GO
ALTER TABLE [dbo].[ITINERARIO]  WITH CHECK ADD  CONSTRAINT [FK_ID_CHOFER] FOREIGN KEY([ID_CHOFER])
REFERENCES [dbo].[CHOFER] ([LEGAJO])
GO
ALTER TABLE [dbo].[ITINERARIO] CHECK CONSTRAINT [FK_ID_CHOFER]
GO
ALTER TABLE [dbo].[ITINERARIO]  WITH CHECK ADD  CONSTRAINT [FK_ID_DIA] FOREIGN KEY([ID_DIA])
REFERENCES [dbo].[DIA] ([ID])
GO
ALTER TABLE [dbo].[ITINERARIO] CHECK CONSTRAINT [FK_ID_DIA]
GO
ALTER TABLE [dbo].[ITINERARIO]  WITH CHECK ADD  CONSTRAINT [FK_ID_OMNIBUS] FOREIGN KEY([ID_OMNIBUS])
REFERENCES [dbo].[OMNIBUS] ([NUMERO_UNIDAD])
GO
ALTER TABLE [dbo].[ITINERARIO] CHECK CONSTRAINT [FK_ID_OMNIBUS]
GO
ALTER TABLE [dbo].[ITINERARIO]  WITH CHECK ADD  CONSTRAINT [FK_ID_RECORRIDO] FOREIGN KEY([ID_RECORRIDO])
REFERENCES [dbo].[RECORRIDO] ([ID])
GO
ALTER TABLE [dbo].[ITINERARIO] CHECK CONSTRAINT [FK_ID_RECORRIDO]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [CH_CANTIDAD_PASAJES] CHECK  (([CANTIDAD_PASAJES]>(0)))
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [CH_CANTIDAD_PASAJES]
GO
ALTER TABLE [dbo].[DIA]  WITH CHECK ADD  CONSTRAINT [CH_NOMBRE_DIA] CHECK  (([NOMBRE]='Domingo' OR [NOMBRE]='Sabado' OR [NOMBRE]='Viernes' OR [NOMBRE]='Jueves' OR [NOMBRE]='Miercoles' OR [NOMBRE]='Martes' OR [NOMBRE]='Lunes'))
GO
ALTER TABLE [dbo].[DIA] CHECK CONSTRAINT [CH_NOMBRE_DIA]
GO
ALTER TABLE [dbo].[OMNIBUS]  WITH CHECK ADD  CONSTRAINT [CH_RESTRICCION_TIPO_OMNIBUS] CHECK  (([TIPO]='BASICO' OR [TIPO]='SEMI-CAMA' OR [TIPO]='Coche-Cama' OR [TIPO]='Suite'))
GO
ALTER TABLE [dbo].[OMNIBUS] CHECK CONSTRAINT [CH_RESTRICCION_TIPO_OMNIBUS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_TRAER_CANTIDAD_PASAJES_POR_USUARIO]    Script Date: 10/3/2020 23:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_TRAER_CANTIDAD_PASAJES_POR_USUARIO]


AS 



SELECT C.ID_USUARIO, U.NOMBRE, U.APELLIDO, SUM(C.CANTIDAD_PASAJES) AS CANTIDAD_PASAJES_VENDIDOS FROM COMPRA AS C
INNER JOIN USUARIO AS U
ON (C.ID_USUARIO = U.ID)
GROUP BY C.ID_USUARIO, U.NOMBRE, U.APELLIDO ORDER BY CANTIDAD_PASAJES_VENDIDOS DESC;
GO
/****** Object:  StoredProcedure [dbo].[PROC_TRAER_INFORMACION_ITINERARIO]    Script Date: 10/3/2020 23:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[PROC_TRAER_INFORMACION_ITINERARIO]

AS

SELECT T.ID, T.ID_RECORRIDO, R.TERMINALES_RECORRIDO AS TERMINALES, C.APELLIDO + ' '+ C.NOMBRE AS NOMBRE_CHOFER, D.NOMBRE AS DIA, O.TIPO
FROM ITINERARIO AS T
INNER JOIN RECORRIDO AS R
ON(T.ID_RECORRIDO = R.ID)
INNER JOIN CHOFER AS C
ON (C.LEGAJO = T.ID_CHOFER)
INNER JOIN DIA AS D 
ON (D.ID = T.ID_DIA)
INNER JOIN OMNIBUS AS O
ON(O.NUMERO_UNIDAD = T.ID_OMNIBUS)
GO
/****** Object:  StoredProcedure [dbo].[PROC_TRAER_TERMINALES_COMO_ARRIBO]    Script Date: 10/3/2020 23:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_TRAER_TERMINALES_COMO_ARRIBO]

AS

SELECT T.NOMBRE_TERMINAL, COUNT(E.ID_TERMINAL_ARRIBO) AS CANTIDAD FROM ESTADISTICA_TERMINALES AS E
INNER JOIN TERMINAL AS T
ON(E.ID_TERMINAL_ARRIBO = T.ID)
GROUP BY  T.NOMBRE_TERMINAL


GO
/****** Object:  StoredProcedure [dbo].[PROC_TRAER_TERMINALES_COMO_PARTIDA]    Script Date: 10/3/2020 23:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_TRAER_TERMINALES_COMO_PARTIDA]

AS

SELECT T.NOMBRE_TERMINAL, COUNT(E.ID_TERMINAL_PARTIDA) AS CANTIDAD FROM ESTADISTICA_TERMINALES AS E
INNER JOIN TERMINAL AS T
ON(E.ID_TERMINAL_PARTIDA = T.ID)
GROUP BY  T.NOMBRE_TERMINAL


GO
